<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGIE</title>
    <script src="https://unpkg.com/vue@next"></script>
    <style>

        html,body{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            height: 100%;
            width: 100%;
        }

        .is-hidden{
            visibility: hidden;
        }
        .buttoncontainer{
            z-index: 99;
            position: absolute; 
            width: fit-content;
            height: fit-content;
            bottom:1em; 
            right: 10vw;
            display: flex; 
            flex-direction: column; 
            justify-content:space-evenly; 
            align-items: center;
            background-color: rgba(255, 255,255, 0.2)
        }
        button:disabled,
        button[disabled]{
            border: 1px solid #999999;    
            color: #666666;
            background-color: coral;
        }
        .btn_active, button:active{
            background-color: greenyellow;    
        }

        button{
            background-color: white;
            font-size: 0.5em;
            width: 60px;
            height: 60px;
            -webkit-touch-callout: none; 
            -webkit-user-select: none; 
            -khtml-user-select: none; 
            -moz-user-select: none;
            -ms-user-select: none; 
            user-select: none;
        }

        .toplayer{
            
        }

        .curtain{
            height:50%; 
            width: 50%;
            background-color: darkred;
            background-image: url("./curtain.jpg");
            background-position: center;

            color: white;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 3em;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        .curtaincontent{
            text-align: center;
            
        }

        .directorcontrols{
            z-index: 100;
            position: relative;
        }

        .timer{
            z-index: 100;
            position: absolute;
            top: 6vh;
            right: 49vw;
            background-color: rgba(255, 255,255, 0.2);
            color: green;
            font-size: 2em;
        }

    </style>
</head>
<body>

    <div id="App">
        
        <div v-if="directorinterfacevisible" class="directorcontrols">
            <button @click="sendMessage('hideButtons')">
                HIDE BUTTONS
            </button>
            <button @click="sendMessage('showButtons')">
                SHOW BUTTONS
            </button>
            <button @click="sendMessage('hideButtons')">
                HIDE BUTTONS
            </button>
            <button @click="sendMessage('showCurtain')">
                SHOW CURTAIN
            </button>
            <button @click="sendMessage('hideCurtain')">
                HIDE CURTAIN
            </button>
            <button @click="sendMessage('showVideo')">
                SHOW VIDEO
            </button>
            <button @click="sendMessage('hideVideo')">
                HIDE VIDEO
            </button>
            <button @click="sendMessage('deactivateKeys')">
                DEACTIVATE KEYS
            </button>
            <button @click="sendMessage('activateKeys')">
                ACTIVATE KEYS
            </button>
            <button @click="sendMessage('showTimer')">
                SHOW TIMER
            </button>
            <button @click="sendMessage('hideTimer')">
                HIDE TIMER
            </button>
            <button @click="sendMessage('startTimer')">
                START TIMER
            </button>
            <button @click="sendMessage('stopTimer')">
                STOP TIMER
            </button>
            <input type="number" @change="sendMessage('setTimer',$event.srcElement.value)" placeholder="timer">
            <input type="text" @change="sendMessage('setCurtainText',$event.srcElement.value)" placeholder="curtain text">
        </div>

        <div v-if="timer.visible" class="timer">{{timer.timeLeft}} sec</div>

        <div v-if="curtain.visible" class="curtain toplayer">
           
            <div v-html="curtain.content" class="curtaincontent">
            
           </div> 
        </div>
        
        <div class="buttoncontainer" :class="{'is-hidden':!buttonsvisible}">
            <div>
                <button id="buttons" class="ctrl_btn">FORWARD<br>(W)</button>
            </div>
            <div>
                <button class="ctrl_btn forward">LEFT<br>(A)</button>
                <button class="ctrl_btn backward">BACKWARD<br>(S)</button>
                <button class="ctrl_btn right">RIGHT<br>(D)</button>
            </div>
            <div> 
                <button class="ctrl_btn up">UP<br>(E)</button>
                <button class="ctrl_btn down">DOWN<br>(F)</button>
            </div>
            <button class="ctrl_btn beep">BEEP<br>(Q)</button>
        </div>

        <div v-if="videovisible" id="iframecontainer" style="width: 700px; height: 700px;">
        
            <iframe allow="camera; microphone; fullscreen; display-capture" src="https://8x8.vc/uniawm/gauguerilla" style="height: 80%; width: 100%; border: 0px; z-index: 1; position: absolute;"></iframe>
            
         </div>
    </div>



    
<script src="https://copresence.eu.ngrok.io/socket.io.js"></script>
<!--<script src="http://localhost:5000/socket.io.js"></script>-->

<script>

    let keysactive = false; // are keylisteners open?

    var audio = new Audio('./robobeep.mp3');
    audio.volume = 0.6;

    const App = {
    setup() {
        let curtain = Vue.ref(
            {
                visible: true,
                content:"starting soon....."
            }
        );
        let timer = Vue.ref(
            {
                visible: false,
                timeLeft: 180,
                interval: null
            }
        );
        let buttonsvisible = Vue.ref(false);
        let videovisible = Vue.ref(true);
        let directorinterfacevisible = Vue.ref(true);
        const switchButtonVisiblity = (on)=> buttonsvisible.value = on;
        const switchVideoVisiblity = (on)=> videovisible.value = on;
        const setTimer = (key,val)=> timer.value[key] = val;
        const startTimer = ()=>{
            timer.value.interval = setInterval(()=>{
            
            if(timer.value.timeLeft > 0){
                timer.value.timeLeft--}
            },1000)
        }
        const stopTimer = ()=>{
            timer.value.interval = clearInterval(timer.value.interval);
        }
        const setCurtain = (key,val) => curtain.value[key] = val;
        const sendMessage = (msg,value) => {socket.emit("director",msg,value)}
        const switchDirectorInterface=(on)=>directorinterfacevisible.value = on;
            return {
                curtain,
                buttonsvisible,
                videovisible,
                timer,
                directorinterfacevisible,
                switchButtonVisiblity,
                switchVideoVisiblity,
                switchDirectorInterface,
                sendMessage,
                setCurtain,
                setTimer,
                startTimer,
                stopTimer
            }
        }
    }

    let v = Vue.createApp(App).mount('#App');
    window.v = v;

    //const socket = io("http://localhost:5000/");
    const socket = io("https://copresence.eu.ngrok.io/");

    socket.on("start", (...args) => {
        console.log("start", args);
        
        if (args[0] && args[0].command){
            if (args[0].command.includes("beep 800")){
                console.log("AUDIOLONG TRIGGER");
                audio.play();
            } // play sound
            if (args[0].command.includes("beep 400")){
                console.log("AUDIOSHORT TRIGGER");
                audio2.play();
            } // play sound
            if (args[0].command.includes("usherplease")){
                socket.emit("director","usher",{video:v.videovisible,curtain:v.curtain,buttons:v.buttonsvisible, keysactive:keysactive})
            } // client connected and wants basic instructions
            // deactivate all buttons and mark which button is active
            if (args[0].command.includes("usher")){return} // dont block keys for other clients on usher commands // TODO: put usher into its own socket channel.
            document.querySelectorAll(".ctrl_btn").forEach(element => {
                element.setAttribute("disabled",true);
            });
        }
    });

    socket.on("end", (...args) => {
        console.log("end", args);
        if (args[0] && args[0].command){
            // deactivate all buttons and mark which button is active
            document.querySelectorAll(".ctrl_btn").forEach(element => {
                element.removeAttribute("disabled");
            }); 
        }
    });

    socket.on("director", (...args) => {
      console.log("got message from director:",args);
      switch (args[0]) {
        case "showButtons":
              v.switchButtonVisiblity(true);    
              break;
        case "hideButtons":
              v.switchButtonVisiblity(false);
              break;
        case "hideVideo":
              v.switchVideoVisiblity(false);
              break;
        case "showVideo":
              v.switchVideoVisiblity(true);
              break;
        case "hideCurtain":
              v.setCurtain("visible",false);
              break;
        case "showCurtain":
              v.setCurtain("visible", true);
              break;
        case "setCurtainText":
              v.setCurtain("content", args[1]);
              break;  
        case "setTimer":
              v.setTimer("timeLeft", args[1]);
              break;
        case "showTimer":
              v.setTimer("visible", true);
              break;
        case "hideTimer":
              v.setTimer("visible", false);
              break;
        case "activateKeys":
              keysactive = true;
              break;
        case "deactivateKeys":
              keysactive = false;
              break;
        case "startTimer":
              v.startTimer();
              break;         
        case "stopTimer":
              v.stopTimer();
              break;         
        default:
              break;
      }
    });

    document.querySelectorAll(".ctrl_btn").forEach((i)=>{

        i.addEventListener('contextmenu', e => {
            e.preventDefault();
        });

        i.addEventListener("touchstart",(e)=>{
            let output = getCommandOutput(e.srcElement)
            console.log(output);
            socket.emit("start",{command:output})
        })
        i.addEventListener("touchend",(e)=>{
            let output = getCommandOutput(e.srcElement)
            console.log(output);
            socket.emit("end",{command:output})
        })

        i.addEventListener("mousedown",(e)=>{
            let output = getCommandOutput(e.srcElement)
            console.log(output);
            socket.emit("start",{command:output})
        })
        i.addEventListener("mouseup",(e)=>{
            let output = getCommandOutput(e.srcElement)
            console.log(output);
            socket.emit("end",{command:output})
        })
    })

    function getCommandOutput(elem){
        let output = elem.innerText.toLowerCase();
        if (output.includes("beep")){
            output = "beep" + " 400" // freq tonelength in ms or (if 0) beep until stop // TODO: make keys trigger actual clickevents
        }
        return output
    }

    function forward(){
        console.log("FORWARD");
        socket.emit("start",{command:"forward"});

    }

    function backward(){
        console.log("BACKWARD");
        socket.emit("start",{command:"backward"});
    }

    function left(){
        console.log("LEFT");
        socket.emit("start",{command:"left"});
    }

    function right(){
        console.log("RIGHT");
        socket.emit("start",{command:"right"});
    }

    function up(){
        console.log("UP");
        socket.emit("start",{command:"up"});
    }

    function down(){
        console.log("DOWN");
        socket.emit("start",{command:"down"});
    }

    function beep(){
        console.log("BEEP");
        socket.emit("start",{command:"beep 400 0"});
    }

</script>
</body>
</html>