<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
    <style>

        html,body{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            height: 100%;
            width: 100%;
        }

        .is-hidden{
            visibility: hidden;
        }
        .buttoncontainer{
            z-index: 99;
            position: absolute; 
            width: fit-content;
            height: fit-content;
            bottom:1em; 
            right: 10vw;
            display: flex; 
            flex-direction: column; 
            justify-content:space-evenly; 
            align-items: center;
            background-color: rgba(255, 255,255, 0.2)
        }
        button:disabled,
        button[disabled]{
            border: 1px solid #999999;    
            color: #666666;
            background-color: coral;
        }
        .btn_active, button:active{
            background-color: greenyellow;    
        }

        button{
            background-color: white;
            font-size: 0.5em;
            width: 60px;
            height: 60px;
            -webkit-touch-callout: none; 
            -webkit-user-select: none; 
            -khtml-user-select: none; 
            -moz-user-select: none;
            -ms-user-select: none; 
            user-select: none;
        }

        .toplayer{
            z-index: 99;
            position: fixed;
            width: 100vw;
            height: 100vh;
        }

        .curtain{
            height:100%; 
            width: 100%;
            background-color: darkred;
            background-image: url("./curtain.jpg");
            background-position: center;

            color: white;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 3em;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        .curtaincontent{
            text-align: center;
            
        }

        .directorcontrols{
            z-index: 100;
            position: relative;
        }

        .timer{
            z-index: 100;
            position: absolute;
            top: 6vh;
            right: 49vw;
            background-color: rgba(255, 255,255, 0.2);
            color: green;
            font-size: 2em;
        }

    </style>
</head>
<body>

    <div id="App">
        
        <div v-if="directorinterfacevisible" class="directorcontrols">
            <button @click="sendMessage('hideButtons')">
                HIDE BUTTONS
            </button>
            <button @click="sendMessage('showButtons')">
                SHOW BUTTONS
            </button>
            <button @click="sendMessage('hideButtons')">
                HIDE BUTTONS
            </button>
            <button @click="sendMessage('showCurtain')">
                SHOW CURTAIN
            </button>
            <button @click="sendMessage('hideCurtain')">
                HIDE CURTAIN
            </button>
            <button @click="sendMessage('showVideo')">
                SHOW VIDEO
            </button>
            <button @click="sendMessage('hideVideo')">
                HIDE VIDEO
            </button>
            <button @click="sendMessage('deactivateKeys')">
                DEACTIVATE KEYS
            </button>
            <button @click="sendMessage('activateKeys')">
                ACTIVATE KEYS
            </button>
            <button @click="sendMessage('showTimer')">
                SHOW TIMER
            </button>
            <button @click="sendMessage('hideTimer')">
                HIDE TIMER
            </button>
            <button @click="sendMessage('startTimer')">
                START TIMER
            </button>
            <button @click="sendMessage('stopTimer')">
                STOP TIMER
            </button>
            <input type="number" @change="sendMessage('setTimer',$event.srcElement.value)" placeholder="timer">
            <input type="text" @change="sendMessage('setCurtainText',$event.srcElement.value)" placeholder="curtain text">
        </div>

        <div v-if="timer.visible" class="timer">{{timer.timeLeft}} sec</div>

        <div v-if="curtain.visible" class="curtain toplayer">
           
            <div v-html="curtain.content" class="curtaincontent">
            
           </div> 
        </div>
        
        <div class="buttoncontainer" :class="{'is-hidden':!buttonsvisible}">
            <div>
                <button id="buttons" class="ctrl_btn">FORWARD<br>(W)</button>
            </div>
            <div>
                <button class="ctrl_btn forward">LEFT<br>(A)</button>
                <button class="ctrl_btn backward">BACKWARD<br>(S)</button>
                <button class="ctrl_btn right">RIGHT<br>(D)</button>
            </div>
            <div> 
                <button class="ctrl_btn up">UP<br>(E)</button>
                <button class="ctrl_btn down">DOWN<br>(F)</button>
            </div>
            <button class="ctrl_btn beep">BEEPLONG<br>(DASH)</button>
            <button class="ctrl_btn beep">BEEPSHORT<br>(DOT)</button>
        </div>

        <div v-if="videovisible" id="iframecontainer" style="width: 700px; height: 700px;">
        
            <iframe allow="camera; microphone; fullscreen; display-capture" src="https://8x8.vc/uniawm/gauguerilla" style="height: 100%; width: 100%; border: 0px; z-index: 1; position: absolute;"></iframe>
            
         </div>
         
    </div>



    
<script src="https://copresence.eu.ngrok.io/socket.io.js"></script>
<!--<script src="http://localhost:5000/socket.io.js"></script>-->

<script>

    var audio = new Audio('./robobeep.mp3');
    audio.volume = 0.6;
    var audio2 = new Audio('./robobeep_short.mp3');
    audio2.volume = 0.6;

    const App = {
    setup() {
        let curtain = Vue.ref(
            {
                visible: false,
                content:"starting soon....."
            }
        );
        let timer = Vue.ref(
            {
                visible: false,
                timeLeft: 60,
                interval: null
            }
        );
        let buttonsvisible = Vue.ref(false);
        let videovisible = Vue.ref(true);
        let directorinterfacevisible = Vue.ref(false);
        const switchButtonVisiblity = (on)=> {buttonsvisible.value = on; window.keysactive = on};
        const switchVideoVisiblity = (on)=> videovisible.value = on;
        const setTimer = (key,val)=> timer.value[key] = val;
        const startTimer = ()=>{
            timer.value.interval = setInterval(()=>{
            
            if(timer.value.timeLeft > 0){
                timer.value.timeLeft--}
            },1000)
        }
        const stopTimer = ()=>{
            timer.value.interval = clearInterval(timer.value.interval);
        }
        const setCurtain = (key,val) => curtain.value[key] = val;
        const sendMessage = (msg,value) => {socket.emit("director",msg,value)}
        const switchDirectorInterface=(on)=>directorinterfacevisible.value = on;
            return {
                curtain,
                buttonsvisible,
                videovisible,
                timer,
                directorinterfacevisible,
                switchButtonVisiblity,
                switchVideoVisiblity,
                switchDirectorInterface,
                sendMessage,
                setCurtain,
                setTimer,
                startTimer,
                stopTimer
            }
        }
    }

    let v = Vue.createApp(App).mount('#App');
    window.v = v;

    //const socket = io("http://localhost:5000/");
    const socket = io("https://copresence.eu.ngrok.io/");

    socket.on('connect', () => {
        console.log('Successfully connected!');
        socket.emit("start",{command:"usherplease"}); // tell everybody you connected so director can tell you how the state of the stage is
    });

    socket.on("start", (...args) => {
        console.log("start", args);
        
        if (args[0] && args[0].command){
            console.log(args[0].command);
            if (args[0].command.includes("beep 800")){
                console.log("AUDIOLONG TRIGGER");
                audio.play();
            } // play sound
            if (args[0].command.includes("beep 400")){
                console.log("AUDIOSHORT TRIGGER");
                audio2.play();
            } // play sound
            // deactivate all buttons and mark which button is active
            if (args[0].command.includes("usher")){return} // dont block keys for other clients on usher commands // TODO: put usher into its own socket channel.
            document.querySelectorAll(".ctrl_btn").forEach(element => {
                element.setAttribute("disabled",true);
            });
        }
    });

    socket.on("end", (...args) => {
        console.log("end", args);
        if (args[0] && args[0].command){
            // deactivate all buttons and mark which button is active
            document.querySelectorAll(".ctrl_btn").forEach(element => {
                element.removeAttribute("disabled");
            }); 
        }
    });

    socket.on("director", (...args) => {
      console.log("got message from director:",args);
      switch (args[0]) {
        case "showButtons":
              v.switchButtonVisiblity(true);    
              break;
        case "hideButtons":
              v.switchButtonVisiblity(false);
              break;
        case "hideVideo":
              v.switchVideoVisiblity(false);
              break;
        case "showVideo":
              v.switchVideoVisiblity(true);
              break;
        case "hideCurtain":
              v.setCurtain("visible",false);
              break;
        case "showCurtain":
              v.setCurtain("visible", true);
              break;
        case "setCurtainText":
              v.setCurtain("content", args[1]);
              break;  
        case "setTimer":
              v.setTimer("timeLeft", args[1]);
              break;
        case "showTimer":
              v.setTimer("visible", true);
              break;
        case "hideTimer":
              v.setTimer("visible", false);
              break;
        case "activateKeys":
              keysactive = true;
              break;
        case "deactivateKeys":
              keysactive = false;
              break;
        case "startTimer":
              v.startTimer();
              break;         
        case "stopTimer":
              v.stopTimer();
              break;
        case "usher":
              getSeated(args[1])
              break;     
        default:
              break;
      }
    });

    function getSeated(settings){
        if (settings.buttons){
            v.switchButtonVisiblity(settings.buttons);   
        }
        if (settings.video){
            v.switchVideoVisiblity(settings.video);   
        }
        if (settings.keysactive){
            keysactive = settings.keysactive;
        }
        if (settings.curtain){
            v.setCurtain("visible", settings.curtain.visible);
            v.setCurtain("content", settings.curtain.content);
        }
    }

    let keyhold = false;
    let keysactive = false; // are keylisteners open?

    document.addEventListener("keydown",(e)=>{
        if (!keysactive){return}
        //console.log(e);
        e.preventDefault();
        if (!keyhold){
            switch (e.key) {
            case "ArrowUp":
                forward();
                keyhold = true;
                break;
            case "ArrowDown":
                backward()
                keyhold = true;
                break;
            case "ArrowLeft":
                left()
                keyhold = true;
                break;
            case "ArrowRight":
                right()
                keyhold = true;
                break;
            case "d":
                right()
                keyhold = true;
                break;
            case "D":
                right()
                keyhold = true;
                break;
            case "a":
                left()
                keyhold = true;
                break;
            case "A":
                left()
                keyhold = true;
                break;
            case "w":
                forward()
                keyhold = true;
                break;
            case "W":
                forward()
                keyhold = true;
                break;
            case "s":
                backward()
                keyhold = true;
                break;
            case "S":
                backward()
                keyhold = true;
                break;
            case "e":
                up()
                keyhold = true;
                break;
            case "E":
                up()
                keyhold = true;
                break;
            case "f":
                down()
                keyhold = true;
                break;
            case "F":
                down()
                keyhold = true;
                break;
/*           case "q":
                beep()
                keyhold = true;
                break; */
            case ".":
                beepshort();
                keyhold = true;
                break;
            case "-":
                beeplong();
                keyhold = true;
                break;
            default:
                break;
            }
        }
        
    })

    document.addEventListener("keyup",(e)=>{
        if (!keysactive){return}
        document.querySelectorAll(".btn_active").forEach((e)=>{e.class})
        if (keyhold){
            switch (e.key) {
            default:
                console.log("sending end signal stopping every movement and sound on the robot");
                socket.emit("end",{command:"*"});
                keyhold = false;
                break;
            }
        }
        
    })

    document.querySelectorAll(".ctrl_btn").forEach((i)=>{

        i.addEventListener('contextmenu', e => {
            e.preventDefault();
        });

        i.addEventListener("touchstart",(e)=>{
            sendStartCommandFromClickOrTouchEvent(e)
        })
        i.addEventListener("touchend",(e)=>{
            sendStopCommandFromClickOrTouchEvent(e);
        })

        i.addEventListener("mousedown",(e)=>{
            sendStartCommandFromClickOrTouchEvent(e)
        })
        i.addEventListener("mouseup",(e)=>{
            sendStopCommandFromClickOrTouchEvent(e);
        })
        // hotfix to get rid of glitches when moving away from button after mousedown.
        // TODO: refactor event handling completely and get rid of awkward redundancies
        i.addEventListener("mouseleave",(e)=>{
            sendStopCommandFromClickOrTouchEvent(e);
        })
    })

    function sendStartCommandFromClickOrTouchEvent(e){
        let output = getCommandOutput(e.srcElement)
            //console.log(output);
            socket.emit("start",{command:output})
            keyhold = false;
    }

    function sendStopCommandFromClickOrTouchEvent(e){
        let output = getCommandOutput(e.srcElement)
            //console.log(output);
            if (output.includes("beep")){return socket.emit("end",{command:" "})}
            socket.emit("end",{command:output})
            keyhold = false;
    }

    function getCommandOutput(elem){
        let output = elem.innerText.toLowerCase();
        if (output.includes("beepshort")){
            output = "beep" + " 400 400" // freq tonelength in ms or (if 0) beep until stop // TODO: make keys trigger actual clickevents
            audio2.play();
        }
        if (output.includes("beeplong")){
            output = "beep" + " 800 800" // freq tonelength in ms or (if 0) beep until stop // TODO: make keys trigger actual clickevents
            audio.play();
        }
        return output
    }

    function forward(){
        //console.log("FORWARD");
        socket.emit("start",{command:"forward"});

    }

    function backward(){
        //console.log("BACKWARD");
        socket.emit("start",{command:"backward"});
    }

    function left(){
        //console.log("LEFT");
        socket.emit("start",{command:"left"});
    }

    function right(){
        //console.log("RIGHT");
        socket.emit("start",{command:"right"});
    }

    function up(){
        //console.log("UP");
        socket.emit("start",{command:"up"});
    }

    function down(){
        //console.log("DOWN");
        socket.emit("start",{command:"down"});
    }

    function beep(){
        //console.log("BEEP");
        audio2.play();
        socket.emit("start",{command:"beep 400 0"});
    }

    function beepshort(){
       // console.log("BEEPSHORT");
        audio2.play();
        socket.emit("start",{command:"beep 400 0"});
    }

    function beeplong(){
        //console.log("BEEPSHORT");
        audio.play();
        socket.emit("start",{command:"beep 800 0"});
    }

    // reset focus to buttons/ parent window every second to keep key events working
    // TODO: find better way to keep event focus on window.top
    setInterval(() => { 
        document.getElementById("buttons").focus()
    }, 6000);


</script>
</body>
</html>